doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Munch - Order, takeaway &amp; free food delivery | Contact
  link(rel='shortcut icon' href='static/assets/munch logo.svg' type='image/x-icon')
  link(rel='stylesheet' href='static/contact-style.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Inter&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous' referrerpolicy='no-referrer')
.top-message
  | We&apos;re open and available for takeaway &amp; delivery. 
  a(href='#') Order Now
.nav-bar
  a.logo(href='/')
    img(src='static/assets/munch logo.svg' alt='munch-logo')
  nav
    a(href='/') Home
    a(href='') Order
    a(href='') Company
    a(href='/contact', target="_blank") Contact
    a(href='/menu', target="_blank")
      button.cart-btn
        img(src='static/assets/ShoppingCartSimple.svg' alt='food cart')
div.container
  h1 Contact us
  form(class="contact-form") 
      input(type="text", name="", placeholder="Enter your name")
      input(type="number", name="", placeholder="Enter your age")
      input(type="email", name="", placeholder="Enter your email id")
      input(id="number" , type="number", name="", placeholder="Enter WhatsApp number")
      textarea(placeholder="Your query", name="", cols="30", rows="10") 
      button(class="submit-btn" type="submit") Submit

footer
  .footer-box1
    .logo-div
      img(src='static/assets/munch logo.svg' alt='munch-logo')
      p Takeaway &amp; Delivery template for small - medium businesses.
    .company-div
      nav.company
        h4 COMPANY
        a(href='') Home
        a(href='') Order
        a(href='') Contact
      nav.company
        h4 COMPANY
        a(href='') Home
        a(href='') Order
        a(href='') Contact
      nav.company
        h4 COMPANY
        a(href='') Home
  .line
  .lower-footer
    span.munch Munch 2022.
    .social-media
      .icon-circle
        a(href='https://www.instagram.com/kawaii_arlert/' target='_blank')
          i.fab.fa-instagram
      .icon-circle
        a(href='https://www.linkedin.com/in/glory-singh-912412192/' target='_blank')
          i.fab.fa-linkedin
      .icon-circle
        a(href='https://github.com/GlorySingh' target='_blank')
          i.fab.fa-github
script(src='static/contactJS.js')